#startButton {
    font-size: 20px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.card-body {
    margin-top: 50px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
}

.row {
    margin-bottom: 25px;
    margin-top: 25px;
}

#QUESTIONS {
    font-size: 20px;
}

#homePageJumbotron {
    text-align: center;
    margin: 25px 100px 25px 100px;
}

#scoreDivContainer {
    margin: 20px 50px 20px 50px;
    text-align: left;
}

.scoreTitle {
    margin: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 17px;
}

.jumbotron {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: left;
}

#btnLogin {
    margin-top: 15px;
    margin-right: 5px;
}

#btnSignUp {
    margin-top: 15px;
    margin-left: 5px;
}

#txtEmail {
    margin-bottom: 5px;
}

#tableHeader {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: white;
}

#table {
    color: white;
    font-size: 15px;
}