.card-body {
    margin-top: 50px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
}

.row {
    margin-bottom: 25px;
    margin-top: 25px;
}

#QUESTIONS {
    font-size: 20px;
}

#homePageJumbotron {
    text-align: center;
    margin: 50px;
    padding: 50px;
}

#scoreDivContainer {
    margin: 50px;
    text-align: left;
}

.score {
    margin: 50px;
}

.jumbotron {
    margin: 50px;
    text-align: center;
    color: blue;
}