#signInText {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

h1 {
    color: white;
}

.jumbotron {
    margin: 75px 50px 100px 50px;
    text-align: center;
    background-image: url(../images/stars5.jpg);
}

#btnLogin {
    margin-top: 15px;
    margin-right: 5px;
}

#btnSignUp {
    margin-top: 15px;
    margin-left: 5px;
}

#txtEmail {
    margin-top: 20px;
    margin-bottom: 5px;
}

#startButton {
    font-size: 20px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#homePageJumbotron {
    text-align: center;
    margin: 75px 100px 100px 100px;
}

.row {
    margin-bottom: 25px;
    margin-top: 25px;
}

#questions {
    font-size: 20px;
}

#wordsDivContainer {
    margin: 20px 50px 20px 50px;
    text-align: left;
}

#scoreTitle {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 18px;
}

#tableHeader {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: white;
}

#table {
    color: white;
    font-size: 15px;
}

